

  <div style="color:white;background-color: black;text-align: center;font-size:5.5rem">Phesari</div>

  
<mat-sidenav-container > 
  <!--1.Sidenav for menu-->
  
    <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="background-color: black;" position="end">
     <div fxLayout="row" style="margin:1.25rem;margin-left:0rem;margin-bottom:1rem;">
      <i  (click)=sidenav.close() class="flaticon-arrow arr" ></i>
       <a href="#" class="menuu-buttons" style="color:white;font-size:1.9rem;margin:auto">Hello, Sign in :)</a>
    </div>
    <div style="text-align: center;font-size:1.6rem;font-weight:600;color:white;background-color: inherit;">Shop By Category</div>

        <div style="margin-bottom:0.8rem;" fxLayout="column" fxAlignLayout="space-evenly stretch">
          <p class="mennu-h">Women</p>
        <a  href="#" class="menuu-buttons">Sarees</a>
        <a  href="#" class="menuu-buttons">Kurtis</a>
        <a  href="#" class="menuu-buttons">Ethnic</a>
        <a  href="#" class="menuu-buttons">Western</a>
        <a  href="#" class="menuu-buttons">Lehengas</a>
        <a  href="#" class="menuu-buttons">Night wear</a>
        </div>
    
        <div style="margin-bottom:0.8rem;" fxLayout="column"  fxAlignLayout="space-evenly stretch">
          <p class="mennu-h">Men</p>
        <a  href="#" class="menuu-buttons">Shirts</a>
        <a  href="#" class="menuu-buttons">Kurtas</a>
        <a  href="#" class="menuu-buttons">Suits</a>
        <a  href="#" class="menuu-buttons">Trousers</a>
        <a  href="#" class="menuu-buttons">Jeans</a>
        <a  href="#" class="menuu-buttons">Night wear</a>
        </div>

        <div style="margin-bottom:1.5rem;" fxLayout="column" fxAlignLayout="space-evenly stretch">
          <p class="mennu-h">Kids</p>
        <a  href="#" class="menuu-buttons">Ethnic wear</a>
        <a  href="#" class="menuu-buttons">Infants</a>
        <a  href="#" class="menuu-buttons">Hoodies</a>
        <a  href="#" class="menuu-buttons">Skirts</a>
        <a  href="#" class="menuu-buttons">Jeans</a>
        <a  href="#" class="menuu-buttons">Night wear</a>
        </div>
    
    <div fxLayout="column" style="margin-bottom:2.5rem;" fxAlignLayout="space-evenly stretch">
        <a  href="#" class="mennu-bts">Customize</a>
        <a  href="#" class="mennu-bts" routerLink="/sell">Sell</a>
        <a  href="#" class="mennu-bts">Customer Service</a>
        <a  href="#" class="mennu-bts">About Us</a>
        <a  href="#" class="mennu-bts">View account</a>
        <a  href="#" class="mennu-bts">Sign in</a>
        </div>

     
      
    </mat-sidenav>
  
    <mat-sidenav-content>
     
 <!--First line-->
<div class="btn-div" id="hidee" style="height:6.45rem;" fxLayout="row" fxLayoutAlign="evenly-spaced">
    
    
  <div class="firstr-firstc" fxLayout="row" >
    <i class="flaticon-india map-i " flex></i>
  </div>
  

   <div  class="firstr-midc"  fxLayout="row" >
          <input type="text"   fxFlex="99 99 auto" name="search">
          <button  class="btns" type="submit" fxFlex="1 1 auto"><i class="fa fa-search"></i></button>
   </div>


   <div  class="firstr-lastc" fxLayout="row" fxLayoutAlign="space-around" >

    <button   class="btns" style="font-weight:500;font-size: 2rem;padding:0.5rem 0.75rem">Sign In / Sign Up</button>

    <button  class="btns" >
      <span class="flaticon-butterfly-shape-top-view icon" ></span>
    </button>

    <button  class="btns" >
      <span class="flaticon-shop cart"></span> 
    </button>

    </div>
  </div>
  
   
      <!--Second line-->
      
      <div class="btn-div" id="hidee" style="height:4.5rem;" fxLayout="row" fxLayoutAlign="evenly-spaced">
      
        <button flex class="btnsss head" style="font-size: 1.9rem" > Location</button>
        
      <div class="midc" fxLayout="row"  >
        <button flex class="btnss btnsss" style="width:15%">Best sellers</button>
        <button flex class="btnss btnsss head" id="hidee">Men</button>
        <button flex class="btnss btnsss head" id="hidee">Women</button>
        <button flex class="btnss btnsss head" id="hidee">Kids</button>
        <button flex  class="btnss btnsss" style="width:17%">Customize</button>
        <button flex class="btnss btnsss" style="width:22%">Customer Service</button>
        <button flex class="btnss btnsss head" routerLink="/sell" >Sell</button>
        </div>
        <button flex class="hi btnss btnsss head" style="font-size: 1.9rem"><div><ul><li><div   class="b">{{Language}}<i class="fa fa-caret-down" style="font-size:1.45rem;padding-left:0.75rem"></i> </div>
          <ul> <mat-radio-group aria-label="Select an option" [(ngModel)]="Language" class="lang" fxLayout="column" fxLayoutAlign="space-evenly"  >
           <li><mat-radio-button disableRipple="true" value="English" checked="true"  flex><div class="rad">English </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Hindi" ><div class="rad">Hindi </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Malayalam" ><div  class="rad">Malayalam </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Telugu" ><div class="rad">Telugu </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Kannada" ><div  class="rad">Kannada </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Marathi" ><div class="rad">Marathi </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Gujarati" ><div class="rad">Gujarati </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Rajasthani" ><div  class="rad">Rajasthani </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Assamese" ><div  class="rad">Assamese </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Telugu" ><div  class="rad">Tamil </div></mat-radio-button></li>
       </mat-radio-group>
           </ul>
         </li>
       </ul>
         </div></button>
        <button  flex class="btnss btnsss head"  style="font-size: 1.9rem">About Us</button>
        <button  class=" btns" style="width:5%" (click)=sidenav.open()><span class="flaticon-menu icon menu" ></span></button>
        </div>
        
      
    </mat-sidenav-content>
  </mat-sidenav-container>
  



