     <!--Bottom divisions-->
     <div style="background-color: black;width:100%;" id="hidee" fxLayout="row" fxLayoutAlign="space-evenly">
    
    
        <div style="background-color: inherit;padding:0.5rem 1rem;" fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start stretch" >
          <h3 class="footer-head">Get to know us!</h3>
          <hr>
          <a href=# class="footer-btns" >About us</a>
          <a href=# class="footer-btns">Press</a>
        </div>
        
    
        
        <div  style="background-color: inherit;padding:0.5rem 1rem;" fxLayout="column" fxLayoutGap="1rem" fxAlignLayout="start stretch" >
          <h3 class="footer-head">Contact us!</h3>
          <hr>
          <a href=# class="footer-btns">Email</a>
          <a href=# class="footer-btns">Twitter</a>
          <a href=# class="footer-btns">Facebook</a>
          <a href=# class="footer-btns">Instagram</a>
        </div>
        
        
        <div style="background-color: inherit;padding:0.5rem 1rem;" fxLayout="column" fxLayoutGap="1rem" fxAlignLayout="start stretch" >
          <h3 class="footer-head">Our Policy!</h3>
          <hr>
          <a href=# class="footer-btns">Return Policy</a>
          <a href=# class="footer-btns">Terms of use</a>
          <a href=# class="footer-btns">Security</a>
          <a href=# class="footer-btns">Privacy</a>
        </div>
        
        
        <div style="background-color: inherit;padding:0.5rem 1rem;"  fxLayout="column" fxLayoutGap="1rem" fxAlignLayout="start stretch" >
          <h3 class="footer-head">Need help?</h3>
          <hr>
          <a href=# class="footer-btns">Account</a>
          <a href=# class="footer-btns">Returns</a>
          <a href=# class="footer-btns">Payments</a>
          <a href=# class="footer-btns">FAQ</a>
        </div>
    
      </div>
      
    
      <div style="width:100%;background-color:black;height:3rem;"></div>
    
    
    