

/*to take off the radio symbols*/
::ng-deep .mat-radio-button .mat-radio-container {
  width: 0;
}
::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle {
  border: none;
  width: 0;
}

.hi:hover .b{
  padding-top:0.75rem;
  padding-bottom: 0.75rem;
}
.rad{
font-size: 1.55rem;
font-weight:400;
margin:auto;
padding-top:1rem;
}
  *{
    margin:0rem;
    padding:0rem;
  }
  
  .lang{
    background-color:black;
    color:white;
  }
  ul ul{
    display: none;
  }
   ul li{
    list-style: none;
  }
  
  ul li:hover > ul{
    display:block;
  }
  


li:hover{
  background-color: gray;
}
  .btnsss{
    background-color: black;
    color:white;
    border: none;
    cursor: pointer;
    outline:none;
    font-size:2rem;   
    font-weight:500;     
  }
  .head{
    width:20%;
  }
  

  .btnsss:focus{
    background-color:gray;
  }
  .btnsss:hover     {
    background-color:gray;
  }
  
  *{
    margin:0rem;
    padding:0rem;
  }