<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<button type="button" class="btn btn-success" (click) ="getData()"></button>
<!-- <div *ngFor='let fav of favourites'>
    <h1>{{fav.dresstype}}</h1>
</div> -->
<div class="WishList">
    <div class = "Panel">
        <button type="btn" class="btn btn-default btn-sm" (click) ="Listview()" ><i  class="glyphicon glyphicon-th-list"></i> List</button>
        <button type="btn" class="btn btn-default btn-sm"  (click) = "Gridview()" ><i class="glyphicon glyphicon-th"></i> Grid</button>
    </div>
    <div class="listview" *ngIf="listview else gridview">
        <div *ngIf="favourites ">
            <div class="Favourites" *ngFor='let item of favourites'>
                <div class="left">
                    <p> DressType   : {{item.dresstype}}<p>
                    <p>Material    : {{item.material}}</p>
                    <p>Duration    : {{item.duration}}</p>
                  </div>
                  <div class="center">
                    <p> Colour      : {{item.colour}}</p>
                    <p> Cost        : {{item.cost}}</p>
                    <p> Description : {{item.description}}</p>
                  </div>
                  <div class="CartBtn">
                    <button type="btn " class="btn btn-success"  (click) = "WishList(item.PID)" > <i class="fa fa-thumbs-up"> Add to WishList</i></button>
                  </div>
                  <a class="right" href={{item.imgURL}}>
                    <img class="image" [src]="item.imgURL" alt="Card image cap">
                  </a>
                  <div class="removeitem">
                    <button type="btn " class="btn btn-success" (click) ="Remove(item.PID)" ><i class="fa fa-trash"></i> Remove From Cart</button>
                  </div>
                  <div class="moredetails">
                      <button type="btn " class="btn btn-success"  > <i class="fa fa-arrow-right"></i>More Details</button>
                  </div>
            </div>
        </div>
    </div>
    <ng-template #gridview>
            <mat-grid-list cols="4" rowHeight="250px">
               <div *ngIf="favourites">
                   <mat-grid-tile *ngFor="let item of favourites">
                       <div class="card-container mx-auto mt-5">
                           <div class="card card-front">
                             <img class="card-img-top" [src]="item.imgURL" alt="Card image cap">
                             <div class="card-body"> 
                               <h5 class="card-title">Item</h5>
                             </div>
                           </div>
                           <div class="card card-back">
                            <div class="details">
                             <p> DressType   : {{item.dresstype}}</p>
                             <p> Colour      : {{item.colour}}</p>
                             <p> Cost        : {{item.cost}}</p>
                             <p> Material    : {{item.material}}</p>
                             <p> Duration    : {{item.duration}}</p>
                            </div> 
                             <div class="buttons">
                               <button type="btn " class="btn btn-success" (click) ="Remove(item.PID)" ><i class="fa fa-trash"></i></button>
                               <button type="btn " class="btn btn-success"  (click) = "WishList(item.PID)" > <i class="fa fa-thumbs-up"></i></button>
                               <div class="moredetails">
                                 <button type="btn " class="btn btn-success"> <i class="fa fa-arrow-right"></i>More Details</button>
                               </div>
                             </div>
                           </div>
                       </div>
                   </mat-grid-tile>
               </div>
            </mat-grid-list>
    </ng-template>
    
</div>
