*{
  margin:0rem;
  padding:0rem;
}


li:hover{
  background-color: gray;
}

/*to take off the radio symbols*/
::ng-deep .mat-radio-button .mat-radio-container {
  width: 0;
}
::ng-deep .mat-radio-container .mat-radio-outer-circle,
::ng-deep .mat-radio-container .mat-radio-inner-circle {
  border: none;
  width: 0;
}


.hi:hover .b{
  padding-top:0.85rem;
  padding-bottom: 0.75rem;
}
.rad{
font-size: 1.55rem;
font-weight:400;
margin:auto;
padding-top:1rem;
}

/* To take off the scroll bar*/
.mat-drawer:not(.mat-drawer-side) {
  position: absolute;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.lang{
  background-color:black;
  color:white;
}
ul ul{
  display: none;
}
 ul li{
  list-style: none;
}

ul li:hover > ul{
  display:block;
}






mat-sidenav-container{
  height:100%;
}


mat-sidenav{
width:29rem;
}

.mennu-h{
font-size: 1.65rem;
color:rgb(194, 194, 194);
margin:0.7rem 4rem;
}     

.menuu-buttons
{
color: white;
text-decoration: none;
cursor: pointer;
background-color:black;
font-size:1.75rem;
margin:0.25rem 5.6rem;
outline:none;
border:none;
font-weight:400;
}
.menuu-buttons:hover{
  text-decoration: underline;
  text-decoration-color: white;
}
.mennu-bts{
color: white;
text-decoration: none;
cursor: pointer;
background-color:black;
font-size:1.8rem;
margin:0.5rem 4rem;
outline:none;
border:none;
font-weight:500;
}

.arr{
color:white;
cursor: pointer;
}
.arr:before{
font-size: 3.2rem;
font-weight:100;
margin:0;
}

.btns{
background-color:black;
color:white;
border: none;
cursor: pointer;
outline:none;
margin: auto;
}



.icon:before{
font-size: 3.5rem;
margin:0;
}

.icon{
color:white;
margin:0 auto;
padding:0.5rem 0.5rem;
}


.btn-div{
width:100%;
margin:0 auto  ;
background-color:black;
}
/*Second division part*/

.map-i{
margin:auto;
color:white;
}
.map-i:before{
font-size: 5.2rem;
font-weight:100;
}

.firstr-firstc{
width:9%;
}

.menu:before{
font-size: 2.85rem;
margin:0;
}


.firstr-midc{
width:64%;
margin:1.5rem auto;
padding:0 0;
}


.firstr-midc input[type=text] {
font-size: 1.8rem;
border:none;
outline:none;
}

.firstr-midc button {
background-color:white;
color:black;
padding: 0.2rem 0.7rem;
margin:0;
font-size: 2.1rem;
}


.firstr-lastc{
width: 27%;
}

.cart:before{
font-size: 4rem;
margin:0;
}

.cart{
color:white;
margin:0 auto;
padding:0.25rem 0.25rem;
}




/*Third division part*/
.midc{
width:64%;
}

.lastc{
  width:25%;
}
.dropdown {
float: left;
margin-top:0.5rem;
overflow: hidden;
}

.dropdown-content {
display: none;
position: absolute;
background-color:black;
width: 10.5rem;
z-index: 1;
}


.mmenu{
width:100%;
padding:0.45rem 0.25rem;
font-size:1.45rem;
}

.second-btns{
font-size:1.8rem;
padding:0.45rem 1.2rem;
}





/*Divisions*/

.prod-div{
width:100%;
background-color:rgb(126, 97, 97);
height:40rem;
}



#hide{
display:none !important;
}


.btns,.menuu-buttons{
-webkit-tap-highlight-color: transparent;
}

@media screen and (min-device-width:200px) and (max-device-width:480px){


mat-sidenav{
width:50%;
}



#hidee{
display:none !important;
}

#hide{
display:flex !important;
}

.menu:before{
font-size: 2rem;
}

.icon:before{
font-size: 2.5rem;
}


.cart:before{
font-size: 2.5rem;
font-weight:500;
}

.support:before{
font-size: 2.5rem;
font-weight:500;
margin:0;
}


.support{
margin:0 auto;
padding:0.25rem 0.25rem;
}

}





.btnsss{
  background-color: black;
  color:white;
  border: none;
  cursor: pointer;
  outline:none;
  font-size:1.7rem;   
  font-weight:500;     
}
.head{
  width:10%;
}

.btnss:focus{
    background-color:gray;
  }
  .btnss:hover     {
    background-color:gray;
  }