*{
    margin:0
   
}



.details{
font-weight: 600;
font-size:1.7rem;
margin-top:0.8rem;
margin-bottom: 0.35rem;
}

.fields{
    font-size:1.7rem;
    width:30em;
    padding:0.6rem;
    outline:none;
}
