*{
    margin:0
}

.bodyy{
    font-size:inherit;
    background-color: aquamarine;
    height:88rem;
}

.details{
font-weight: 600;
font-size:1.7rem;
}

.fields{
    font-size:1.75rem;
    width:30em;
    padding:0.15em;
    outline:none
}