<div class="row mt-4">
    <div class="col-12">
      <h4>Registration form</h4>
    </div>
  
    <div class="col-12">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="firstName">First name</label>
            <input ngModel #firstname="ngModel" name="firstName" type="text" placeholder="First Name" class="form-control" id="firstName">
          </div>
          <div class="col-md-6 mb-2">
            <label for="lastName">Last name</label>
            <input ngModel #lastname="ngModel" name="lastName" type="text" placeholder="Last Name" class="form-control" id="lastName" value="">
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
              <label for="dateofbirth">Date of Birth</label>
              <input ngModel #dateofbirth="ngModel" name="dateofbirth" type="date"  class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-2">
              <label for="phonenumber">Phone Number</label>
              <input ngModel #phone="ngModel" name="phonenumber" type="tel" placeholder="Enter 10 digit number" class="form-control">
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="workexp">Work Experience</label>
            <input ngModel #workexp="ngModel" name="workexp" type="text" placeholder="Yes or No" class="form-control">
          </div>
      </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <label for="email">Email</label>
            <input ngModel #email="ngModel" name="email" type="email" placeholder="Enter Email ID" class="form-control">
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12 mb-2">
              <label for="password">Password</label>
              <input ngModel #password="ngModel" name="password" type="password" placeholder="Enter Password" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>