     <!--Bottom divisions-->
     <div style="background-color: black;width:100%;padding:2rem 0rem;" id="hidee" fxLayout="row" fxLayoutAlign="space-evenly">
    
    
        <div style="background-color: inherit;padding:0rem 1rem;" flex fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="start stretch" >
          <h3 class="footer-head">Know More !</h3>
          <a href=# class="footer-btns" >About Us</a>
          <a href=# class="footer-btns" >Customize</a>
          <a href=# class="footer-btns">Selling</a>
        </div>
        
    
        
        
        
        <div style="background-color: inherit;padding:0rem 1rem;" flex fxLayout="column" fxLayoutGap="1rem" fxAlignLayout="start stretch" >
          <h3 class="footer-head">Our Policy !</h3>
          <a href=# class="footer-btns">Return Policy</a>
          <a href=# class="footer-btns">Terms of use</a>
          <a href=# class="footer-btns">Security</a>
          <a href=# class="footer-btns">Privacy</a>
        </div>
        
        
        <div style="background-color: inherit;padding:0rem 1rem;"  fxLayout="column" fxLayoutGap="1rem" fxAlignLayout="start stretch" >
          <h3 class="footer-head">Need help ?</h3>
          <a href=# class="footer-btns">Account</a>
          <a href=# class="footer-btns">Returns</a>
          <a href=# class="footer-btns">Payments</a>
          <a href=# class="footer-btns">FAQ</a>
        </div>
    
        <div  style="background-color: inherit;padding:0rem 1rem;" flex fxLayout="column" fxLayoutGap="1rem" fxAlignLayout="start stretch" >
          <h3 class="footer-head">Contact Us !</h3>
          <a href=# class="footer-btns"><div class="flaticon-envelope ic"></div></a>
          <a href=# class="footer-btns"><div class="flaticon-instagram-1 ic"></div></a>
          <a href=# class="footer-btns"><div class="flaticon-facebook-1 ic"></div></a>
          <a href=# class="footer-btns"><div class="flaticon-twitter-1 ic"></div></a>
        </div>
        
      </div>
      
    
    
    
    