<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="filters"> 
<div class="dressfilter">
  <ng-multiselect-dropdown
  [placeholder]="'Select Dress Type'"
  [settings]="dropdownSettings"
  [data]="dresstypes"
  [(ngModel)]="typeselected"
  (onSelect)="SetTypeFilter($event)"
  (onSelectAll)="onTypeSelectAll($event)"
>
</ng-multiselect-dropdown>
</div>
<div class="colourfilter">
  <ng-multiselect-dropdown
  [placeholder]="'Select Dress Colour'"
  [settings]="dropdownSettings"
  [data]="colours"
  [(ngModel)]="colourselected"
  (onSelect)="SetColourFilter($event)"
  (onSelectAll)="onColourSelectAll($event)"
>
</ng-multiselect-dropdown>
</div>
<div class="materialfilter">
  <ng-multiselect-dropdown
  [placeholder]="'Select Material Type'"
  [settings]="dropdownSettings"
  [data]="materials"
  [(ngModel)]="matselected"
  (onSelect)="SetMaterialFilter($event)"
  (onSelectAll)="onMatSelectAll($event)"
>
</ng-multiselect-dropdown>
</div>
<button type="button " class="btn btn-success" (click)="SetFilter($event)"><i class="fa fa-refresh"></i>Filter Designs</button>
</div>
<div class="grid">
 <mat-grid-list cols="4" rowHeight="250px">
    <div *ngIf="designs | async as items">
        <div  class="item-list"
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScroll($event,(items[items.length - 1].cost))">
       </div>
        <mat-grid-tile *ngFor="let item of items">
            <div class="card-container mx-auto mt-5">
                <div class="card card-front">
                  <img class="card-img-top" [src]="item.imgURL" alt="Card image cap">
                  <div class="card-body"> 
                    <h5 class="card-title">Item</h5>
                  </div>
                </div>
                <div class="card card-back">
                 <div class="details">
                  <p> DressType   : {{item.dresstype}}</p>
                  <p> Colour      : {{item.colour}}</p>
                  <p> Cost        : {{item.cost}}</p>
                  <p> Material    : {{item.material}}</p>
                  <p> Duration    : {{item.duration}}</p>
                 </div> 
                  <div class="buttons">
                    <button type="btn " class="btn btn-success" (click) ="WishList(item.PID)" ><i class="fa fa-thumbs-up"></i></button>
                    <button type="btn " class="btn btn-success"  (click) = "Cart(item.PID)" > <i class="fa fa-shopping-cart"></i></button>
                    <div class="moredetails">
                      <button type="btn " class="btn btn-success"  > <i class="fa fa-arrow-right"></i>More Details</button>
                    </div>
                  </div>
                </div>
            </div>
        </mat-grid-tile>
    </div>
 </mat-grid-list>
</div>
</body>