@import url('https://fonts.googleapis.com/css?family=Ruda:900');
  .item-list {
    height: 20rem;
    overflow-y: scroll;
  }
  .card-container{
      position: relative;
      width: 18rem;
      perspective: 200rem;
      height: 250px;
  }
  
  .card-container:hover .card-front{
      transform: rotateY(180deg);
  }
  
  .card-container:hover .card-back{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5908/food.png);
      transform: rotateY(0deg);
  }
  
  .card-back{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/5908/food.png);
      transform: rotateY(180deg);
  }
  
  .card{
      position: absolute;
      height: 100%;
      width: 100%;
      transition: all 0.9s;
      backface-visibility: hidden;
  }
  
  .card-back .card-body{
      position: relative;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 5px;
  }
  .btn:hover {
    background-color: RoyalBlue;
  }
  p{ 
    font-size: 15px;
    color: black;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  p:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform:    scale(1.1);
    -ms-transform:     scale(1.1); 
    -o-transform:      scale(1.1); 
    /* text-shadow: 3px 3px 0 #333;  */
  }
  .details{
    float: left;
    margin-left: 10%;
  }
  .moredetails{
    float: right;
    margin-right: 10px;
  }
  .dressfilter{
     margin-top: 10px;
     margin-bottom: 10px;
  }
  .colourfilter{
     margin-top: 10px;
     margin-bottom: 10px;
  }
  .materialfilter{

     margin-top: 10px;
     margin-bottom: 10px;
  }
  body{
    background-image: url(//www.toptal.com/designers/subtlepatterns/patterns/symphony.png);
    background-position: bottom;
    animation: 4s linear 0s infinite bp;
  }
  
  @keyframes bp {
    from {
      background-position:  198px 0;
    }
    
    to {
      background-position:  0 198px;
    }
  }