<div style="height:6.5rem;padding-bottom:1rem;color:white;background-color: black;text-align: center;font-size:5.5rem">Phesari</div>
    <!--First Line-->
      <div class="btn-div" id="hidee" style="height:4.5rem;background-color: black" fxLayout="row" >
        <button  flex class="btnsss head">About Us</button>
        <button flex class="btnsss head">Start Selling</button>
        <button flex class="btnsss head">Seller's Blog</button>
        <button flex class="btnsss head">Contact Us</button> 
        <button flex class="btnsss head">Login</button>
      </div>
      
    <div style="height:4rem;"></div>
      <div style="width:73%;margin:auto;">
        <div class="btn-div" id="hidee" style="height:4.5rem;background-color: inherit;" fxLayoutAlign="space-between" fxLayout="row" >
          <button  class="btnsss sec-hea" >Why Phesari</button>
          <button  class="btnsss sec-hea">How it works</button>
          <button  class="btnsss sec-hea">Fee Structure</button>
          <button  class="btnsss sec-hea" style="width:25%;min-width:26rem;max-width: 26rem;">Shipments & Packaging</button> 
          </div>
      </div>
      <div style="height: 2rem;"></div>
    <div  style="width:73%;margin:auto;background-color: rgb(255, 248, 248);display: flex;flex-direction: column;min-width: 100rem;">
          <!--Security-->
      <div style="height: 2rem;font-size: 1.5rem;color: gray;margin-top:2rem;margin-left: 5rem;"> < back </div>
      <div style="margin: auto;font-size: 3rem;font-weight: 500;">
        Phesari's Security And Protection
        <i class="flaticon-customer-1 icon" ></i>      
      </div>

      <div style="min-width:92rem;max-width:92rem;font-size: 1.6rem;margin:0rem auto;margin-top:3.5rem;margin-bottom:2rem;text-align: center;">
        When you sell on eBay, you’re protected by policies, transaction monitoring, and data systems that make eBay a safe and vibrant community.
        
        You can sell with confidence, because our dedicated seller protection team works around the clock to enforce policies and track problems before they start.
        
        Backed by large-scale, automated detection systems monitoring millions of transactions every day, our team uses world-class technology to prevent problems before they start, so you can focus on your business.
        
        Learn about our policies and best practices, then get back to doing what you’re great at: selling on eBay.
        </div>
        
    <div  style="margin:auto;display: flex;flex-direction: column;">

          <div style="margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:72rem;max-width:72rem;border-style:ridge;padding:2rem 2rem">
          <div style="font-weight: 500;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
          Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
          </div>

          <div style="margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:72rem;max-width:72rem;border-style:ridge;padding:2rem 2rem">
            <div style="font-weight: 500;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
            Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
            </div>

            <div style="margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:72rem;max-width:72rem;border-style:ridge;padding:2rem 2rem">
              <div style="font-weight: 500;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
              Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
              </div>

              <div style="margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:72rem;max-width:72rem;border-style:ridge;padding:2rem 2rem">
                <div style="font-weight: 500;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
                Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
                </div>
</div>
<button type="button" (click)=collapse.openn()>Open Collapsible</button>
<div #collapse class="content" [style.display]="coll">
  <p>Lorem ipsum...</p>
</div> 