
<div style="height:1rem;"></div>
  
<div style="height:3.5rem;"></div>
  <div style="width:58%;margin:auto;font-size:1.8rem;font-weight:500">
    <div style="text-align: center;">We from Phesari, make your process easy by connecting you to </div><div style="text-align: center;">millions of customers out there waiting to buy best goodies available with us.</div>
  </div> 

<div style="height:2rem;"></div>

<div style="width:115rem;margin:auto;background-color: whitesmoke;">

  <div class="start-steps" > 
  <i  class="flaticon-customer-1 icon" ></i>    
  <div fxLayout="row" style="width:70rem;">
    <div class="header">1.</div>
    <div  fxLayout="column">
      <div class="header">Register your seller account</div>
      <div class="header-f">To become an Amazon seller, all you need is your tax information (GST Number & PAN, depending on your category) and an active bank account.<br><br>Once you register, you will have access to Seller Central, your one-stop portal for all your selling needs.<br>Don't have GST? You can also apply for GST using our exclusive offer for Amazon by clicking here.</div>
      </div>
  </div>
</div>
</div>

<div style="width:115rem;margin:auto;">
<div class="start-steps">   
  <div fxLayout="row" style="width:70rem;">
    <div class="header">2.</div>
    <div  fxLayout="column">
      <div class="header">Upload your listings</div>
      <div class="header-f">Once you've registered to sell online, you will need to list your products. Either use our easy-to-use listing tools on Seller Central, or list through the Seller App.
        <br><br>If you need support with product photography, catalouging or anything listing-related, you can always hire professionals from our third-party Service Provider Network (SPN).</div>
      </div>
  </div>
  <i  class="flaticon-customer-1 icon" ></i>  
</div>
</div>

<div style="width:115rem;margin:auto;background-color: whitesmoke">
<div class="start-steps"> 
  <i  class="flaticon-customer-1 icon" ></i>    
  <div fxLayout="row" style="width:70rem;">
    <div class="header">3.</div>
    <div  fxLayout="column">
      <div class="header">Customers see and buy your products</div>
      <div class="header-f">By listing your products on Amazon, you can reach millions of potential customers & businesses every day. Moreover, if your listings are Fulfilled by Amazon, they become eligible for Prime. 
        <br><br>You can also advertise on Amazon with Sponsored Products and target customers relevant to you.</div>
      </div>
  </div>
</div>
</div>

<div style="width:115rem;margin:auto;">
<div class="start-steps">   
  <div fxLayout="row" style="width:70rem;">
    <div class="header">2.</div>
    <div  fxLayout="column">
      <div class="header">Upload your listings</div>
      <div class="header-f">Once you've registered to sell online, you will need to list your products. Either use our easy-to-use listing tools on Seller Central, or list through the Seller App.
        <br><br>If you need support with product photography, catalouging or anything listing-related, you can always hire professionals from our third-party Service Provider Network (SPN).</div>
      </div>
  </div>
  <i  class="flaticon-customer-1 icon" ></i>  
</div>
</div>

<div style="width:115rem;margin:auto;background-color: whitesmoke">
<div class="start-steps"> 
  <i  class="flaticon-customer-1 icon" ></i>    
  <div fxLayout="row" style="width:70rem;">
    <div class="header">4.</div>
    <div  fxLayout="column">
      <div class="header">Deliver your products to the customer</div>
      <div class="header-f">When an order has been placed for one of your products, Amazon notifies you by email as well as in your Seller Central dashboard. If you choose "Fulfilment by Amazon", Amazon will take care of storage, picking, packing and shipping as well as customer inquiries.
        If you are not on FBA, your account comes enabled with Easy Ship - we will pick products from you and deliver it straight to the customer, with our world-class delivery service.
        <br><br>If you are a seller or shop owner who has the ability to deliver orders same day/next day to customers in your local area (through your own delivery associates or a courier partner), then you can unlock Prime benefits for select pincodes with Local Shops.
        Learn about your storage & delivery options ></div>
      </div>
  </div>
</div>
</div>

<div style="width:115rem;margin:auto;">
<div class="start-steps">   
  <div fxLayout="row" style="width:70rem;">
    <div class="header">5.</div>
    <div  fxLayout="column">
      <div class="header">Receive your payment</div>
      <div class="header-f">Payment for your sales (minus the Amazon Seller fees) is deposited securely into your bank account every 7 days, including your Pay on Delivery orders.
        <br><br>You can view your deposited balance along with tips to grow and expand your business in your Seller Central account.</div>
      </div>
  </div>
  <i  class="flaticon-customer-1 icon" ></i>  
</div>
</div>


