<div style="height:6.5rem;padding-bottom:1rem;color:white;background-color: black;text-align: center;font-size:5.5rem">Phesari</div>
    <!--First Line-->
      <div class="btn-div" id="hidee" style="height:4.5rem;background-color: black" fxLayout="row" >
        <button  flex class="btnsss head">About Us</button>
        <button flex class="btnsss head">Start Selling</button>
        <button flex class="btnsss head">Seller's Blog</button>
        <button flex class="btnsss head">Contact Us</button> 
        <button flex class="btnsss head">Login</button>
      </div>
      
    <div style="height:4rem;"></div>
      <div style="width:80%;margin:auto;">
        <div class="btn-div" id="hidee" style="height:4.5rem;background-color: inherit;" fxLayoutAlign="space-between" fxLayout="row" >
          <button  class="btnsss sec-hea" >Why Phesari</button>
          <button  class="btnsss sec-hea">How it works</button>
          <button  class="btnsss sec-hea">Fee Structure</button>
          <button  class="btnsss sec-hea" style="width:25%;min-width:26rem;max-width: 26rem;">Shipments & Packaging</button> 
          </div>
      </div>
      <div style="height: 2rem;"></div>