.btnsss{
    background-color: black;
    color:white;
    border: none;
    cursor: pointer;
    outline:none;
    font-size:2rem;   
    font-weight:500;     
  }
  .head{
    width:20%;
  }
  .sec-head{
    width:100%;
    padding:2rem 1rem;
    min-width:24rem;
    margin:0.4rem 0rem;
  }
  .sec-hea{
    padding:1.25rem 0;
    margin:auto;
    width:18%;

    max-width:16rem;
    min-width:16rem;
    font-size:1.9rem;  
    border-radius: 2rem; 
  }

  .btnsss:focus{
    background-color:gray;
  }
  .btnsss:hover     {
    background-color:gray;
  }
  
  *{
    margin:0rem;
    padding:0rem;
  }