
<div style="height:1rem"></div>

<div fxLayout="row" style="width:90%;margin:auto;" fxLayoutAlign="start start">
<div style="height:60rem;min-width:30rem;margin-right:2rem;background-color: rgb(236, 246, 255);overflow-y:auto">
    <div class="topic">HELP TOPICS</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
    <div class="topics">Orders</div>
</div>
<div style="background-color: rgb(236, 246, 255);width:100%;min-width:100rem">
<div class="back"> Customer Service < Orders </div>
<div class="topic-head">Orders</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
<div class="que">What should I do if my order is approved but hasn't been shipped yet?</div>
</div>
<!--
<div style="background-color: rgb(236, 246, 255);width:100%;min-width:100rem" fxLayout="column" >
    <div class="back"> Customer Service < Orders < What should I do if my order is approved but hasn't been shipped yet? </div>
    <div class="topic-head">What should I do if my order is approved but hasn't been shipped yet?</div>
    <div class="que-ans">

        SuperCoins calculation happens at the order level. You will get to know about the SuperCoins deducted after you've cancelled or returned an item as it will be recalculated on the basis of the updated order value.
        
        To know more about the program click here. For more information on SuperCoins click here
    </div> 
    <div style="margin:0 auto;font-size: 2.1rem;font-weight: 500;" *ngIf="!(positive || negative)">Is this Article helpful?</div> 
    <div style="font-size: 2.1rem;font-weight: 500;margin:auto;display: flex;flex-direction: row;" *ngIf="!(positive || negative)">
       
       <div><i class="flaticon-thumbs-up  iconn" (click)="positive=!positive"></i></div>
       <div><i class="flaticon-thumb-down iconn " (click)="negative=!negative"></i></div>
       </div>
       <div style="font-size: 2.1rem;font-weight: 500;margin:auto;" >
       <div *ngIf="positive" style="margin:0.5rem auto;">Thankyou for your feedback</div>
       <div *ngIf="negative" style="margin:0.5rem auto;"></div>
      </div>
</div>
-->


</div>
