<div class="card-container mx-auto mt-5">
    <div class="card card-front">
      <img class="card-img-top" src= "src\fcccbcd0-fa73-482e-a898-585af7b2b1291537186768946-Roadster-Men-Red--Navy-Blue-Regular-Fit-Reversible-Checked-C-1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
      </div>
    </div>
    <div class="card card-back">
      <li> DressType   : {{type}}</li>
      <li> Colour      : {{colour}}</li>
      <li> Age         : {{age}}</li>
      <li> Budget      : {{budget}}</li>
      <li> Material    : {{material}}</li>
      <!-- <li> Description :  {{description}}</li> -->
      <div class="card-body bg-warning">
        <button type="button " class="btn btn-success" > More Details...</button>
      </div>
    </div>
</div>
