

  .btnsss{
    background-color: black;
    color:white;
    border: none;
    cursor: pointer;
    outline:none;
    font-size:2rem;   
    font-weight:500;     
  }
  .head{
    width:20%;
  }
  .sec-head{
    width:100%;
    padding:2rem 1rem;
    min-width:24rem;
    margin:0.4rem 0rem;
  }
  .sec-hea{
    padding:1.25rem 0;
    margin:auto;
    width:18%;
    font-size:1.9rem;  
    border-radius: 2rem; 
  }

  .btnsss:focus{
    background-color:gray;
  }
  
  *{
    margin:0rem;
    padding:0rem;
  }
  
  
  .icon:before{
font-size: 6rem;
  }
  .icon{
    margin: auto;
  }

  .card-text
  {
    font-size: 1.6rem;
    color:rgba(0,0,0,.54);
    font-size: 600;
    margin: auto;
  }

  .card{
    box-shadow: 0.05rem 0.15rem 1.5rem 0.6rem rgba(0,0,0,0.2);
    max-width: 28rem;
    min-width:28rem;
    display: flex;
    flex-direction: column;
    margin:2rem auto;
  }