
<div style="height:4rem;"></div>
  
<div style="height:3.5rem;"></div>
  <div style="width:58%;margin:auto;font-size:1.8rem;font-weight:500">
    <div style="text-align: center;">We from Phesari, ensure that the below features are available to the sellers and the </div><div style="text-align: center;">designers from all over the globe.</div> <div style="text-align: center;">We connect you to millions of customers out there waiting to buy best goodies </div><div style="text-align: center;"> available with us.</div>
  </div> 

<div style="height:2rem;"></div>


<div  style="width:74%;margin:auto;flex-wrap: wrap;display: flex;flex-direction: row;min-width: 100rem;max-width:111rem;justify-content: space-between;">
      <!--Security-->


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>

    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>


    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>



    <mat-card  class="card">
      <mat-card-header >
        <mat-card-title style="font-size: 1.9rem;">Security and Protection</mat-card-title>
        <mat-card-subtitle style="font-size: 1.6rem;text-align: center;">Your protection is our<div style="text-align:center;"> main concern.</div></mat-card-subtitle>
      </mat-card-header>  
      <mat-card-content style="display:flex;flex-direction: column;">
      <i class="flaticon-customer-1 icon" ></i>    
        <div class="card-text">We are so concerned about your safety that we ensure to solve all your problems even before they exist.</div> 
        <button mat-button style="background-color: black;color: white;margin:0.5rem auto">Learn More</button>
      </mat-card-content>   
    </mat-card>

  </div>

   
