.part{
    min-width:33rem;
    max-width:33rem;
    font-size:1.55rem;
    font-weight:500;
    padding:2rem 2rem 2rem 0rem;
    box-shadow: -0.01rem -0.05rem 1.75rem 0.1rem rgb(190, 190, 190);
    border-radius: 3rem;
    cursor: pointer;
}

.icon:before{
    font-size: 5rem;
      }
      .icon{
        margin: auto;
      }
    
.process{
  font-size:1.55rem;
  font-weight:400;padding-top:3rem;
}

.step{
  padding:1.5rem;
  border-bottom: solid ;
  border-width: 0.1rem;
  border-color: rgb(192, 192, 192);
}