.myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
  }
  .models {
     display: flex;
     overflow-x: auto;
  }

  .models .model{
    min-width: 150px;
    height: 100px;
    margin: 10px;
  }