

  .btnsss{
    background-color: black;
    color:white;
    border: none;
    cursor: pointer;
    outline:none;
    font-size:2rem;   
    font-weight:500;     
  }
  .head{
    width:20%;
  }
  .sec-head{
    width:100%;
    padding:2rem 1rem;
    min-width:24rem;
    margin:0.4rem 0rem;
  }
  .sec-hea{
    padding:1.25rem 0;
    margin:auto;
    width:18%;

    max-width:16rem;
    min-width:16rem;
    font-size:1.9rem;  
    border-radius: 2rem; 
  }

  .btnsss:focus{
    background-color:gray;
  }
  
  *{
    margin:0rem;
    padding:0rem;
  }
  

  .icon:before{
    font-size: 6rem;
      }
      .icon{
        margin: auto;
      }
    
      .iconn:before{
        font-size: 6rem;
          }
          .iconn{
            font-size: 6rem;
          }


.faq-q{
  background-color: rgb(121, 190, 218);
  font-size: 1.6rem;
  font-weight: 600;
  outline-style: none;
  border-style: none;
  cursor: pointer;
  padding: 0.6rem 2rem; 
  border-top-style: solid;
  border-color: whitesmoke;
}

.faq-a{
overflow: hidden;
font-size: 1.6rem;
font-weight: 400;
justify-content: left;
padding: 1.7rem 2rem; 
}
