
    <div  style="width:80%;margin:auto;display: flex;flex-direction: column;min-width: 100rem;">
          <!--Security-->
      <div style="height: 2rem;font-size: 1.5rem;color: gray;margin-top:2rem;margin-left: 5rem;"> Why Phesari < <span routerLink="why-phesari" style="cursor:pointer">back</span> </div>
      <div style="margin: auto;font-size: 3rem;font-weight: 500;">
        Phesari's Security And Protection
        <i class="flaticon-customer-1 icon" ></i>      
      </div>
      <div style="min-width:96rem;max-width:96rem;font-size: 1.75rem;font-weight:400;margin:0rem auto;margin-top:1.5rem;margin-bottom:2rem;text-align: center;">
        When you sell on eBay, you’re protected by policies, transaction monitoring, and data systems that make eBay a safe and vibrant community.
        
        You can sell with confidence, because our dedicated seller protection team works around the clock to enforce policies and track problems before they start.
        
        Backed by large-scale, automated detection systems monitoring millions of transactions every day, our team uses world-class technology to prevent problems before they start, so you can focus on your business.
        
        Learn about our policies and best practices, then get back to doing what you’re great at: selling on eBay.
        </div>
        
    <div  style="margin:auto;display: flex;flex-direction: column;">

          <div style="background-color:rgb(247, 250, 255);margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:76rem;max-width:76rem;border-style:ridge;padding:1.75rem 2rem;border-width: 0.1rem;">
          <div style="font-weight: 600;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
          Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
          </div>

          <div style="background-color:rgb(247, 250, 255);margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:76rem;max-width:76rem;border-style:ridge;padding:1.75rem 2rem;border-width: 0.1rem;">
            <div style="font-weight:600;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
            Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
            </div>
          
            <div style="background-color:rgb(247, 250, 255);margin:1.5rem 5rem;font-size: 1.6rem;font-weight:400;min-width:76rem;max-width:76rem;border-style:ridge;padding:1.75rem 2rem;border-width: 0.1rem;">
              <div style="font-weight:600;font-size: 1.7;margin-bottom: 0.5rem;">Abusive Buyer Policy<br></div>
              Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax.
              </div>
     
         
</div>
<div style="align-items: flex-start;display: flex;flex-direction: column;margin: auto;padding:4rem 2rem;" >

  <div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem" >
      <div style=" background-color: rgb(121, 190, 218);font-size: 1.9rem;font-weight: 700;padding: 1.25rem 2rem; text-align: center;">Frequently Asked Questions
      </div> 
    </div>

<div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem">
<div fxLayout="row" fxLayoutAlign="space-between"  (click)="coll[0]=!coll[0]" class="faq-q">
  <div>Open Collapsible </div>
  <div *ngIf="!coll[0]" >+</div>
  <div *ngIf="coll[0]" >-</div>
</div>
  <div  class="faq-a" *ngIf="coll[0]" >
    <p>Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax. </p>
  </div> 
  </div>

  <div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem">
    <div fxLayout="row" fxLayoutAlign="space-between"  (click)="coll[1]=!coll[1]" class="faq-q">
      <div>Open Collapsible </div>
      <div *ngIf="!coll[1]" >+</div>
      <div *ngIf="coll[1]" >-</div>
    </div>
      <div  class="faq-a" *ngIf="coll[1]" >
        <p>Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax. </p>
      </div> 
      </div>



      <div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem">
        <div fxLayout="row" fxLayoutAlign="space-between"  (click)="coll[2]=!coll[2]" class="faq-q">
          <div>Open Collapsible </div>
          <div *ngIf="!coll[2]" >+</div>
          <div *ngIf="coll[2]" >-</div>
        </div>
          <div  class="faq-a" *ngIf="coll[2]" >
            <p>Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax. </p>
          </div> 
          </div>

    

          <div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem">
            <div fxLayout="row" fxLayoutAlign="space-between"  (click)="coll[3]=!coll[3]" class="faq-q">
              <div>Open Collapsible </div>
              <div *ngIf="!coll[3]" >+</div>
              <div *ngIf="coll[3]" >-</div>
            </div>
              <div  class="faq-a" *ngIf="coll[3]" >
                <p>Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax. </p>
              </div> 
              </div>




      <div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem">
        <div fxLayout="row" fxLayoutAlign="space-between"  (click)="coll[4]=!coll[4]" class="faq-q">
          <div>Open Collapsible </div>
          <div *ngIf="!coll[4]" >+</div>
          <div *ngIf="coll[4]" >-</div>
        </div>
          <div  class="faq-a" *ngIf="coll[4]" >
            <p>Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax. </p>
          </div> 
          </div>




      <div style="margin:0rem auto;min-width:90rem;max-width:90rem;padding:0rem 2rem">
        <div fxLayout="row" fxLayoutAlign="space-between"  (click)="coll[5]=!coll[5]" class="faq-q">
          <div>Open Collapsible </div>
          <div *ngIf="!coll[5]" >+</div>
          <div *ngIf="coll[5]" >-</div>
        </div>
          <div  class="faq-a" *ngIf="coll[5]" >
            <p>Starting October 19th, 2020, in order for a seller to be protected if a buyer opens an item not received case, signature confirmation will be required when the total value of an order is $750 or more. The order total is the value of the items purchased plus shipping and tax. </p>
          </div> 
          </div>

          

</div>
<div style="font-size: 2.1rem;font-weight: 500;margin:auto;display: flex;flex-direction: row;" *ngIf="!(positive || negative)">
  <div style="margin: auto;">Is this Article helpful?</div> 
 <div><i class="flaticon-thumbs-up  iconn" (click)="positive=!positive"></i></div>
 <div><i class="flaticon-thumb-down iconn " (click)="negative=!negative"></i></div>
 </div>
 <div style="font-size: 2.1rem;font-weight: 500;margin:auto;margin:4rem;display: flex;flex-direction: row;" >
 <div *ngIf="positive" style="margin:0.5rem auto;">Thankyou for your feedback</div>
 <div *ngIf="negative" style="margin:0.5rem auto;"></div>
</div>

<hr style="margin-bottom:10rem">


<router-outlet></router-outlet>