<!--Outer Column-->
<div class="bodyy" fxLayout="column" fxLayoutAlign="start">
    
<div style="height:10rem;" fxLayout="column" fxLayoutAlign="space-around">
    <div style="height: 20%;"></div>
    <b style="font-size:2.5rem;margin:auto">Select an address for shipping your product</b>
    <p style="font-size:1.5rem;margin:auto">If you want to choose new address for delivery,fill the below detail to confirm your address or choose from the existing addresses</p>
    <div style="height: 30%;"></div>
</div>
<div style="height:2rem"></div>
    <!--Inside Rows-->
    <div fxLayoutGap="6%" fxLayout="row" fxLayoutAlign="space-evenly start">
        <div style="height:74rem;" fxLayout="column" fxLayoutAlign="space-evenly">

            <b style="font-size:2.15rem;margin:auto">Add a new address</b>
            <div style="height:3%"></div>
            <div style="margin:auto">
                <div class="details">Full name *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">Mobile number *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">Alternate mobile number (Optional)</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">Flat / House No. / Floor / Building *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">Area / Street / Locality *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">Pincode / Postal Code *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">City *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">District *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto">
                <div class="details">State *</div>
                <input class="fields" matInput  required>
            </div>
        
            <div style="margin:auto;height:11rem" fxLayout="column" fxLayoutAlign="space-evenly">
                <div class="details">Address Type *</div>
                <mat-radio-group aria-label="Select an option" fxLayout="column" fxLayoutAlign="space-evenly">
                    <mat-radio-button value="1" style="margin-bottom: 1.2rem;"><div style="font-size: 1.55rem;font-weight:500">Home </div></mat-radio-button>
                    <mat-radio-button value="2"><div style="font-size: 1.55rem;font-weight:500">Work (Delivery between 10 am - 5 pm)</div></mat-radio-button>
                </mat-radio-group>
            </div>

            <button mat-raised-button style="background-color:azure;margin:auto">Confirm the new address</button>
        </div>
        
        <div style="height:74rem;" fxLayout="column" fxLayoutAlign="space-around">
            <div style="height: 1%;"></div>
            <div style="height:60%;width:100%" fxLayout="column" fxLayoutAlign="space-evenly">
            <div style="height: 10%;"></div>
            <div style="height:64%;width:100%;margin:auto;background-color: azure;"></div>
            <button mat-raised-button style="background-color:antiquewhite;">  Deliver to this address  </button>
            <div style="height: 14%;" fxLayout="row" fxLayoutAlign="space between  ">
                <button mat-raised-button style="background-color:antiquewhite;margin: auto;">Edit</button>
                <button mat-raised-button style="background-color:antiquewhite;margin: auto;">Delete</button>
            </div>
            </div>
            <button mat-raised-button style="background-color:azure;margin:auto">Select your current location for delivery</button>
            <div style="height: 12%;"></div>
            <div></div>
        </div>

    </div>

</div>

<div class="bodyy" style="height:10rem"></div>