<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div *ngIf="designs | async as items">
  <div 
        infinite-scroll
        [infiniteScrollDistance]="scrollDistance"
        [infiniteScrollThrottle]="throttle"
        (scrolled)="onScroll($event,(items[items.length - 1].cost))">
  </div>

  <div class="upload" *ngFor='let item of items'>
                  <div *ngIf="!item.edit else upload">
                    <div class="left">
                      <p> DressType   : {{item.dresstype}}<p>
                      <p>Material    : {{item.material}}</p>
                      <p>Duration    : {{item.duration}}</p>
                    </div>
                    <div class="center">
                      <p> Colour      : {{item.colour}}</p>
                      <p> Cost        : {{item.cost}}</p>
                      <p> Description : {{item.description}}</p>
                    </div>
                    <a class="right" href={{item.imgURL}}>
                      <img class="image" [src]="item.imgURL" alt="Card image cap">
                    </a>
                    <!-- <div class="right">
                      <div class="w3-content w3-display-container">
                      <img class="mySlides" [src]="item.imgURL" >
                      <img class="mySlides" [src]="item.imgURL" >
                      <img class="mySlides" [src]="item.imgURL" >
                      <img class="mySlides" [src]="item.imgURL" >
                      <img class="mySlides" [src]="item.imgURL" >
                    
                      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
                      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
                    </div>
                    </div> -->
                    <!-- <script>
                    var slideIndex = 1;
                    showDivs(slideIndex);
                    
                    function plusDivs(n) {
                      showDivs(slideIndex += n);
                    }
                    
                    function showDivs(n) {
                      var i;
                      var x = document.getElementsByClassName("mySlides");
                      if (n > x.length) {slideIndex = 1}
                      if (n < 1) {slideIndex = x.length}
                      for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";  
                      }
                      x[slideIndex-1].style.display = "block";  
                    }
                    </script> -->
                    <div class="rightmost">
                      <div class="updatebtn">
                        <button type="button" class="btn" (click) ="OnUpdate(item)">Update</button>
                      </div>
                      <div class="deletebtn">
                        <button type="button" class="btn" (click) ="OnDelete(item.id)"><i class="fa fa-trash"></i>Delete</button>
                      </div>
                    </div>
                  </div> 
                  <ng-template class="upload" #upload>
                    <div class="left">
                      <div class="form-group">
                        <label for="type">Dress Category</label>
                    <input type="text" class="form-control" placeholder="Enter DressType" id="type" name="type" required [(ngModel)] = "item.editdresstype">
                    </div>
                    <div class="form-group">
                        <label for="Material">Dress Material</label>
                    <input type="text" class="form-control" placeholder="Enter DressMaterial" id="Material" name="Material" required [(ngModel)] = "item.editmaterial">
                    </div>
                    <div class="form-group">
                        <label for="duration">Delivery Time</label>
                    <input type="number" class="form-control" placeholder="Enter ExpectedTime" id="duration" name="duration" required [(ngModel)] = "item.editduration">
                    </div>
                    </div>
                    <div class="center">
                      <div class="form-group"><label for="colour">Dress Colour</label>
                        <input type="text" class="form-control" placeholder="Enter DressColour" id="colour" name="colour" required [(ngModel)] = "item.editcolour"></div>
                    <div class="form-group"><label for="cost">Estimated Cost</label>
                        <input type="number" class="form-control" placeholder="Enter Cost" id="cost" name="cost" required [(ngModel)] = "item.editcost"></div>
                    <div class="form-group">
                        <label for="description">Additional Information</label>
                    <input type="text" class="form-control" placeholder="Enter Extra Information" id="description" name="description" required [(ngModel)] = "item.editdesc">
                    </div>
                    </div>
                    <div class="right">
                      <img class="card-img-top" [src]="item.imgURL" alt="Card image cap">
                    </div>
                    <div class="rightmost">
                      <div class="uploadbtn">
                        <button type="button" class="btn" (click) ="OnUpload(item)"><i class="fa fa-upload"></i>Upload</button>
                      </div>
                      <div class="cancelbtn">
                        <button type="button" class="btn" (click) ="OnCancel(item)"><i class="fa fa-close"></i>Cancel</button>
                      </div>
                    </div>
                  </ng-template>
             </div>    
</div>



