<div style="height:5.5rem;padding-bottom:1rem;color:white;background-color: black;text-align: center;font-size:5.5rem">Phesari</div>
    <!--First Line-->
      <div class="btn-div" id="hidee" style="height:4rem;background-color: black" fxLayout="row" fxLayoutAlign="evenly-spaced">
    
        <button  class="btnsss">My Designs</button>
        <button  class="btnsss">Orders</button>
        <button  class="btnsss">Design Requests</button>
        <button  class="btnsss">My Contracts</button>
        <div><ul><li><button  class="btns sec-btns " style="padding-left:2rem;padding-right:2rem;" >Language<i class="fa fa-caret-down" style="font-size:1.45rem;padding-left:0.25rem"></i> </button>
          <ul> <mat-radio-group aria-label="Select an option" class="lang" fxLayout="column" fxLayoutAlign="space-evenly">
           <li><mat-radio-button value="1" checked="true" style="margin-bottom: 1.2rem;"><div style="font-size: 1.55rem;font-weight:400">English </div></mat-radio-button></li>
           <li><mat-radio-button value="2" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Hindi </div></mat-radio-button></li>
           <li><mat-radio-button value="3" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Malayalam </div></mat-radio-button></li>
           <li><mat-radio-button value="4" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Telugu </div></mat-radio-button></li>
           <li><mat-radio-button value="5" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Kannada </div></mat-radio-button></li>
           <li><mat-radio-button value="6" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Marathi </div></mat-radio-button></li>
           <li><mat-radio-button value="7" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Gujarati </div></mat-radio-button></li>
           <li><mat-radio-button value="8" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Rajasthani </div></mat-radio-button></li>
           <li><mat-radio-button value="9" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Assamese </div></mat-radio-button></li>
           <li><mat-radio-button value="10" style="margin-bottom: 1rem;"><div style="font-size: 1.55rem;font-weight:400">Tamil </div></mat-radio-button></li>
       </mat-radio-group>
           </ul>
         </li>
       </ul>
         </div>
        <button  class="btnsss">Sign In / Sign Up</button>
    
      </div>