



      <div style="color:white;background-color: black;text-align: center;font-size:5.5rem">Phesari</div>
    <!--First Line-->
      <div  id="hidee" style="height:4.5rem;background-color: black" fxLayout="row" >
        <button  flex class="btnsss head">My Designs</button>
        <button flex class="btnsss head">Orders</button>
        <button flex class="btnsss head">Design Requests</button>
        <button flex class="btnsss head">My contracts</button> 
        <button flex class="hi btnsss head"><div><ul><li><div   class="b">{{Language}}<i class="fa fa-caret-down" style="font-size:1.45rem;padding-left:0.75rem"></i> </div>
          <ul> <mat-radio-group aria-label="Select an option" [(ngModel)]="Language" class="lang" fxLayout="column" fxLayoutAlign="space-evenly"  >
           <li><mat-radio-button disableRipple="true" value="English" checked="true"  flex><div class="rad">English </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Hindi" ><div class="rad">Hindi </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Malayalam" ><div  class="rad">Malayalam </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Telugu" ><div class="rad">Telugu </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Kannada" ><div  class="rad">Kannada </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Marathi" ><div class="rad">Marathi </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Gujarati" ><div class="rad">Gujarati </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Rajasthani" ><div  class="rad">Rajasthani </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Assamese" ><div  class="rad">Assamese </div></mat-radio-button></li>
           <li><mat-radio-button disableRipple="true" value="Telugu" ><div  class="rad">Tamil </div></mat-radio-button></li>
       </mat-radio-group>
           </ul>
         </li>
       </ul>
         </div></button>
        <button flex class="btnsss head">Login</button>
      </div>
      